{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": "commonjs",
        "shippedProposals": true,
        "targets": {
          "node": "current"
        },
        "useBuiltIns": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["lodash", "react-hot-loader/babel"]
}