.seat-input {
  width: 200px;
}

.seat-input .btn {
  background: #e9ecef;
  font-weight: bold;
  color: #999;
  transition: all .3s;
}

.seat-input .btn:hover {
  color: #222;
  /* background: rgba(239, 49, 74, 1); */
}