.seat-input {
  /* width: 210px; */
  height: 44px;
  border: 1px solid #E1E1E2;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.seat-input-number {
  border: none;
  background-color: #F7F7F5;
  width: 20px;
  height: 100%;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.seat-input .btn.seat-input-btn {
  font-weight: normal;
  font-size: 1.1em;
  color: #999;
  transition: all .3s;
  height: 100%;
  border-radius: none;
  min-width: 40px;
}

.seat-input .btn.seat-input-btn.plus-btn {
  border-left: 1px solid #E1E1E2;
}

.seat-input .btn.seat-input-btn.minus-btn {
  border-right: 1px solid #E1E1E2;
}

.seat-input .btn.seat-input-btn:hover {
  color: #222;
}