html, body {
  background: #fff;
  color: #222;
  font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
}

svg text {
  font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
  font-weight: normal;
}

h1 {
  font-family: 'Libre Baskerville', 'The Matter', serif;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 0.06px;
  line-height: 1.35em;
  text-align: center;
  margin-bottom: 10px;
}

h2, h3, h4, h5 {
  font-weight: 700;
}

h4 {
  margin-top: 10px;
}

.site-header a,
.site-header a:focus,
.site-header a:link,
.site-header a:visited,
.site-header a:hover {
  border-bottom: none;
}

a, a:link, a:visited {
  color: rgb(239, 49, 74);
  border-bottom: 1px dotted rgba(239, 49, 74, 0.2);
  text-decoration: none;
  transition: all .3s;
}

a:hover {
  border-bottom: 1px solid rgba(239, 49, 74, 1);
}

.hidden {
  display: none;
}

article>header {
  text-align: center;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

.frame-container {
  margin: auto;
  padding: 60px;
  width: 100%;
  max-width: 800px;
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header-pane {
  flex: 0 0 auto;
}

.content-pane {
  border: 1px solid #eee;
  flex: 1 1 200px;
  position: relative;
  overflow: hidden;
}

.content-pane .page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: all .3s;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-pane .page.previous-page {
  left: -100%;
}

.content-pane .page.next-page {
  left: 100%;
}

.nav-pane {
  border-left: 1px solid #eee;
  /* border-top: none; */
  flex: 0 0 50px;
  display: flex;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.btn-red {
  background-color: #F0324B;
  color: #fff;
  width: 100%;
  max-width: 300px;
  height: 40px;
}

.nav-pane button {
  height: 100%;
  flex: 1 1 50%;
  border: none;
  background-color: #fff;
  color: #F0324B;
}

.nav-pane button.next-btn {
  background-color: #F0324B;
  color: #fff;
}

.credit-pane {
  flex: 0 0 auto;
  font-size: 0.8em;
  color: #ccc;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}

.page-content {
  padding: 26px;
}

.helper-text {
  color: #9B9B9B;
  font-size: 12px;
  letter-spacing: 0.02px;
  line-height: 20px;
}

p.introduction {
  padding: 20px 20px 0 20px;
  font-size: 16px;
  letter-spacing: 0.02px;
  line-height: 20px;
  text-align: center;
}

footer {
  text-align: center;
}

footer section {
  margin: 20px 0;
}

#footnote {
  font-size: 0.8em;
  color: #999;
}

#credits {
  font-family: 'Libre Baskerville', 'The Matter', serif;
  font-size: 12px;
}

.text-align-center {
  text-align: center;
}

.party-name .badge {
  font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
}

.btn {
  transition: all .3s;
}

.large-display-only {
  display: none;
}

button, button:focus {
  outline: none !important;
  outline-color: transparent !important;
  outline-style: none !important;
  box-shadow:none !important;
}

.btn-outline-tertiary {
  border-color: #d3d9df;
  color: #212529;
}

.btn-outline-tertiary:hover {
  background-color: #d3d9df;
}

.btn-hard-light {
  background-color: #f8f9fa;
  color: #212529;
}

.btn-hard-light:hover {
  background-color: #d3d9df;
}

.btn-hard-light.active, .btn-outline-tertiary.active {
  background-color: #212529;
  border-color: #212529;
  color: #fff;
}

.final-summary {
  height: 48px;
  margin-bottom: 0;
}

.share-floater {
  position: absolute;
  right: 0px;
  top: 0px;
}

.share-floater .btn.btn-red {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.share-floater .btn.btn-red:hover {
  color: #fff;
}

.share-buttons-container {
  margin-top: 10px;
  text-align: center;
}

.SocialMediaShareButton {
  display: inline-block;
  cursor: pointer;
  margin: -2px 5px 0px 5px;
  vertical-align: middle;
}

@media screen and (min-width: 1080px) {
  .frame-container{
    max-width: 1500px;
    padding: 20px 20px 20px;
  }
  .k-breadcrumb {
    display: none;
  }
  .nav-pane {
    display: none;
  }

  .content-pane {
    border-radius: 4px;
    /* overflow: visible; */
  }

  .content-pane .page.page-0 {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    border: none;
    background-color: #fff;
    transition: left .6s;
  }
  .content-pane .page.page-1,
  .content-pane .page.page-1.next-page,
  .content-pane .page.page-1.previous-page {
    left: 0;
  }
  .content-pane .page.page-2,
  .content-pane .page.page-2.next-page,
  .content-pane .page.page-2.previous-page {
    left: 33.33%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  .content-pane .page.page-3,
  .content-pane .page.page-3.next-page,
  .content-pane .page.page-3.previous-page {
    left: 66.67%;
  }

  .content-pane .page.page-0.previous-page {
    left: -100%;
  }
  .content-pane .page {
    width: 33.33%;
  }

  .large-display-only {
    display: block;
  }

  .SocialMediaShareButton {
    margin: -5px 5px 0px 5px;
    vertical-align: middle;
  }
}

@media screen and (max-device-width: 450px) {
  body {
    font-size: 14px;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1.125em;
  }

  .frame-container {
    margin: auto;
    padding: 0px;
    width: 100%;
    max-width: auto;
    height: 100%;
  }

  .content-pane, .nav-pane {
    border: none;
  }

  .credit-pane {
    display: none;
  }

  .page-content {
    padding: 16px;
  }
}

html {
  visibility: visible;
  opacity: 1;
}