html, body {
  background: #fff;
  color: #222;
  font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
}

svg text {
  font-family: "Noto Sans",
  'Noto Sans Thai UI',
  'Libre Baskerville',
  'The Matter',
  serif;
  font-weight: normal;
}

h1, h2, h3 {
  font-family: 'Libre Baskerville', 'The Matter', serif;
}

h3 {
  margin-top: 20px;
}

.big-number {
  font-size: 40px;
  font-weight: bold;
}

article a,
article a:link,
article a:visited {
  color: rgb(239, 49, 74);
  border-bottom: 1px dotted rgba(239, 49, 74, 0.2);
  text-decoration: none;
  transition: all .3s;
}

article a:hover {
  border-bottom: 1px solid rgba(239, 49, 74, 1);
}

.hidden {
  display: none;
}

article>header {
  text-align: center;
}

section {
}

section.introduction {
  margin-top: 40px;
}

footer {
  text-align: center;
}

footer section {
  margin: 20px 0;
}

#footnote {
  font-size: 0.9em;
  color: #999;
}

#credits {
  font-family: 'Libre Baskerville', 'The Matter', serif;
  font-size: 12px;
}

.party-name {
  font-family: 'Libre Baskerville', 'The Matter', serif;
}

.party-name .badge {
  font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
}

.btn {
  transition: all .3s;
}

button, button:focus {
  outline: none !important;
  outline-color: transparent !important;
  outline-style: none !important;
  box-shadow:none !important;
}

.btn-outline-tertiary {
  border-color: #d3d9df;
  color: #212529;
}

.btn-outline-tertiary:hover {
  background-color: #d3d9df;
}

.btn-hard-light {
  background-color: #f8f9fa;
  color: #212529;
}

.btn-hard-light:hover {
  background-color: #d3d9df;
}

.btn-hard-light.active, .btn-outline-tertiary.active {
  background-color: #212529;
  border-color: #212529;
  color: #fff;
}

.fa-icon-green {
  color: #4cd137;
}

.fa-icon-red {
  color: #c23616;
}

.summary {
  text-align: center;
  padding: 20px 0;
}

.result-card {
  border: 1px #eee solid;
  padding: 25px;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-device-width: 667px) {
  .result-card {
    margin-top: 30px;
    padding: 25px 10px;
  }
}
@media screen and (max-device-width: 340px) {
  .result-card {
    border-left: none;
    border-right: none;
    padding: 25px 0px;
    width: 320px;
  }
}

html {
  visibility: visible;
  opacity: 1;
}