html, body {
  background: #fff;
  color: #222;
  font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
}

svg text {
  font-family: "Noto Sans",
  'Noto Sans Thai UI',
  'Libre Baskerville',
  'The Matter',
  serif;
  font-weight: normal;
}

h1 {
  font-family: 'Libre Baskerville', 'The Matter', serif;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 0.06px;
  line-height: 1.35em;
  text-align: center;
  margin-bottom: 10px;
}

h2, h3, h4, h5 {
  font-weight: 700;
}

h4 {
  margin-top: 10px;
}

.site-header a,
.site-header a:focus,
.site-header a:link,
.site-header a:visited,
.site-header a:hover {
  border-bottom: none;
}

a, a:link, a:visited {
  color: rgb(239, 49, 74);
  border-bottom: 1px dotted rgba(239, 49, 74, 0.2);
  text-decoration: none;
  transition: all .3s;
}

a:hover {
  border-bottom: 1px solid rgba(239, 49, 74, 1);
}

.hidden {
  display: none;
}

article>header {
  text-align: center;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

.frame-container {
  margin: auto;
  padding: 60px;
  width: 100%;
  max-width: 800px;
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header-pane {
  flex: 0 0 auto;
}

.content-pane {
  border: 1px solid #eee;
  /* background: #eee; */
  flex: 1 1 200px;
  position: relative;
  overflow: hidden;
}

.content-pane .page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: left .3s;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-pane .page.previous-page {
  left: -100%;
}

.content-pane .page.next-page {
  left: 100%;
}

.nav-pane {
  border-left: 1px solid #eee;
  /* border-top: none; */
  flex: 0 0 50px;
  display: flex;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.nav-pane button {
  height: 100%;
  flex: 1 1 50%;
  border: none;
  background-color: #fff;
  color: #F0324B;
}

.nav-pane button.next-btn {
  background-color: #F0324B;
  color: #fff;
}

.credit-pane {
  flex: 0 0 auto;
  font-size: 0.9em;
  color: #ccc;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}

.page-content {
  padding: 26px;
}

.helper-text {
  color: #9B9B9B;
  font-size: 12px;
  letter-spacing: 0.02px;
  line-height: 20px;
}

p.introduction {
  padding: 20px 20px 0 20px;
  font-size: 16px;
  letter-spacing: 0.02px;
  line-height: 20px;
  text-align: center;
}

footer {
  text-align: center;
}

footer section {
  margin: 20px 0;
}

#footnote {
  font-size: 0.8em;
  color: #999;
}

#credits {
  font-family: 'Libre Baskerville', 'The Matter', serif;
  font-size: 12px;
}

.text-align-center {
  text-align: center;
}

.party-name {
  /* font-family: 'Libre Baskerville', 'The Matter', serif; */
}

.party-name .badge {
  font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
}

.btn {
  transition: all .3s;
}

button, button:focus {
  outline: none !important;
  outline-color: transparent !important;
  outline-style: none !important;
  box-shadow:none !important;
}

.btn-outline-tertiary {
  border-color: #d3d9df;
  color: #212529;
}

.btn-outline-tertiary:hover {
  background-color: #d3d9df;
}

.btn-hard-light {
  background-color: #f8f9fa;
  color: #212529;
}

.btn-hard-light:hover {
  background-color: #d3d9df;
}

.btn-hard-light.active, .btn-outline-tertiary.active {
  background-color: #212529;
  border-color: #212529;
  color: #fff;
}

.fa-icon-green {
  color: #4cd137;
}

.fa-icon-red {
  color: #c23616;
}

.summary {
  text-align: center;
  padding: 20px 0;
}

.result-card {
  border: 1px #eee solid;
  padding: 25px;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-device-width: 667px) {
  .result-card {
    margin-top: 30px;
    padding: 25px 10px;
  }
}
@media screen and (max-device-width: 450px) {
  body {
    font-size: 14px;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1.125em;
  }

  .frame-container {
    margin: auto;
    padding: 0px;
    width: 100%;
    max-width: auto;
    height: 100%;
  }

  .content-pane, .nav-pane {
    border: none;
  }

  .credit-pane {
    display: none;
  }

  .page-content {
    padding: 16px;
  }

  .result-card {
    border-left: none;
    border-right: none;
    padding: 25px 0px;
    width: 320px;
  }
}

html {
  visibility: visible;
  opacity: 1;
}